<div class="move-to-right text-login-form">
  <div class="my-4">
    <h2>Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-light" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
<div class="right-side-pics">
  <img src="https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="d-block w-100" alt="right-side-pic">
</div>
