<div class="cards">
  <% 3.times do %>
    <div class="card-category placeholder-grey"></div>
  <% end %>
  <% days.each do |day| %>
    <%= link_to preferences_path(day), class: "text-dark text-decoration-none" do %>
      <div class="card-category">
        <div class=" mt-4">
          <div class="d-flex justify-content-start" style="width: 100px">
            <p class="date-corner px-1"><%= day.date.day %></p>
            <% if @current_user.preferences.include?(Preference.find_by(day:)) %>
              <i class="fa-solid fa-flag status-corner"></i>
            <% end %>
          </div>
          <% empty_count = 0 %>
          <% shifts.each do |shift| %>
            <% if shift.day == day %>
              <% if shift.assignments.count == 3 %>
                <p class="text-dark shifts shift-good"><%= "#{shift.start_time.hour}:00 - #{shift.end_time.hour}:00" %><i class="fa-solid fa-user mx-1"></i></p>
              <% elsif shift.assignments.count < 3 && shift.assignments.count > 0 %>
                <p class="text-light shifts shift-warning"><%= "#{shift.start_time.hour}:00 - #{shift.end_time.hour}:00" %><i class="fa-solid fa-triangle-exclamation mx-1"></i></p>
              <% elsif shift.assignments.count == 0 %>
                <% empty_count += 1 %>
              <% else %>
                <p class="text-light shifts shift-warning"><%= "#{shift.start_time.hour}:00 - #{shift.end_time.hour}:00" %><i class="fa-solid fa-triangle-exclamation mx-1"></i></p>
              <% end %>
            <% end %>
          <% end %>
          <% if empty_count == 3%>
            <p class="shifts shift-empty">no one scheduled</p>
          <% elsif empty_count < 3 && empty_count > 0 %>
            <p class="empty-shift-warning">empty shift</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="card-category placeholder-grey"></div>
</div>
