<div class="list">
  <p><%= form_with url: days_path, method: :get, class: "d-flex my-3 searchbutton" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Team Member" %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %> </p>
  <% users.each do |user| %>
    <div class="notificationsearch d-flex justify-content-between ">
      <%= cl_image_tag user.photo.key, class: "rounded-circle", width: 36, height: 36 %>
      <div class="notification-content text-center">
        <div id="name-search">
          <%= user.name %>
          <% if user.preferences.where(category: "day_off").count >= 3 %>
            <i class="fa-sharp fa-solid fa-circle-check"></i>
          <% else %>
            <i class="fa-sharp fa-solid fa-circle-xmark"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
