<div class="container position relative">
  <% if @current_user.manager == true %>
    <%# MANAGER EMPLOYEE %>
    <div class="position relative">
      <div class="text-center d-flex justify-content-center" id="manager-calendar">
        <div id="sidebar">
          <div class="toggle-btn" id="toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <%= render "days/searchbar", users: @users %>
        </div>
        <div class="calendar p-3">
          <h1><%= @this_month %></h1>
          <%= render 'days/calendar', shifts: @shifts, days: @days %>
          <form action="/days" method="post"><button class="btn btn-dark my-4 text-center" data-controller="loading-spin" data-action="click->loading-spin#insertspin">Generate Schedule</button></form>
          <%= render "days/loading_bar", users: @users %>
        </div>
      </div>
    <% else %>
      <%# EMPLOYEE CALENDAR %>
      <div class="container">
        <div class="text-center d-flex justify-content-center" id="manager-calendar">
          <div id="sidebar">
            <div class="toggle-btn" id="toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <%= render 'days/preference_bar', users: @users %>
          </div>
          <div class="calendar p-3">
            <h1><%= @this_month %></h1>
            <%= render 'days/employee_calendar', shifts: @shifts, days: @days %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
