<div class="container position relative">
  <div class="d-flex justify-content-between">
    <% if @current_user.manager == true %>
      <%= render "days/searchbar", users: @users %>
      <div class="calendar p-1">
        <h1><%= @this_month %></h1>
        <%= render 'days/calendar', shifts: @shifts, days: @days %>
        <form action="/days" method="post"><button class="btn btn-dark my-4 text-center">generate</button></form>
      </div>
    </div>
  <% else %>
    <div class="text-center employee-calendar-center pt-3 position-absolute start-50 translate-middle">
      <h1><%= @this_month %></h1>
      <%= render 'days/calendar', shifts: @shifts, days: @days %>
      <br>
    </div>
  <% end %>
</div>
<%# <div class=search><%= render "shifts/user" %>
