<div class="container mt-5">
  <h1>Make a Request</h1>
  <%= simple_form_for [@day, @preference] do |f| %>
    <%#= f.input :category, as: :radio_buttons, collection: @types %>
    <%= f.input :category,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: @types %>
    <p>Please Select Unavailable Shift (Time-off)</p>
    <% @day.shifts.each do |shift| %>
      <%= check_box_tag "preference[unavailable_shift_ids][]", shift.id, nil, id: "preference-shift-#{shift.id}" %>
      <label for="preference-shift-<%= shift.id %>"><%= shift.start_time.strftime("%I:%M %p") %> - <%= shift.end_time.strftime("%I:%M %p") %></label><br>
    <% end %>
    <%= f.input :note %>
    <%= f.submit 'Confirm' %>
  <% end %>
</div>
