<!DOCTYPE html>
<html>
  <head>
    <title>RailsShiftBetter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-100">
    <div class="d-flex">
      <%= render "shared/navbar" %>
      <div class="d-flex h-100 w-100 position-relative" >
        <%= yield %>
      </div>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
